{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    
    <!-- Content Block -->
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>Quick Links</h3>
                    <a href="#">Home</a>
                    <a href="#">Latest Products</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact</a>
                    <a href="#">FAQs</a>
                </div>
                <div class="footer-section">
                    <h3>Customer Support</h3>
                    <a href="#">Help Center</a>
                    <a href="#">Shipping Policy</a>
                    <a href="#">Return & Exchange Policy</a>
                    <a href="#">Warranty</a>
                    <a href="#">Track Order</a>
                    <a href="#">Privacy Policy</a>
                </div>
                <div class="footer-section">
                    <h3>Connect With Us</h3>
                    <p>Machinery Bay provides top-of-the-line CNC machines with precision engineering and customer support that stands out.</p>
                    <div class="social-icons">
                    <img src="media\images\x.png" alt="X">
                    <img src="media\images\instagram.png" alt="Instagram">
                    <img src="media\images\facebook.png" alt="Facebook">
                    <img src="media\images\linkedin.png" alt="LinkedIn">
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Machinery Bay. All Rights Reserved. | <a href="#" style="color: #4ecdc4;">Terms & Conditions</a> | <a href="#" style="color: #4ecdc4;">Privacy Policy</a></p>
            </div>
        </div>
    </footer>

<script src="{% static 'core/js/script.js' %}"></script>
</body>
</html>    