{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}Industrix{% endblock %}</title>
</head>
<body>

    <header>

        <div class="home-navbar">
            <a href="/" class="logo">
            <h2 style="color: white">Industrix</h2>
            <ul class="links">
                <li><a href="{% url 'store:about'%}">About</a></li>
                {% comment %} <li><a href="/">Products</a></li> {% endcomment %}
                <li><a href="#">Resources</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>  
            </ul>

            <div class="nav-end">
                {% comment %} <a type="button" role="button" href="{% url "basket:basket_summary" %}" 
                    class="btn btn-outline-secondary border-0 basket-btn">
                        {% with total_qty=basket|length %}
                        <div id="basket-qty" class="basket-qty">
                            {% if total_qty > 0 %}
                            {{ total_qty }}
                            {% else %}
                            0
                            {% endif %}
                        </div>
                        {% endwith %}
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-cart3" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </div>
                    </a> {% endcomment %}
                </div>
                <div class="signup-btn">
                    <a href="{% url "account:login" %}" class="signup">
                        Sign up <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>         
        </div>
</header>

    <!-- Content Block -->
    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h2>Industrix</h2>
                <h3>Industrix provides top-of-the-line CNC machines with precision engineering and customer support that stands out.</h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
    
            <div class="footer-column">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Latest Products</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
    
            <div class="footer-column">
                <h4>Customer Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Return & Exchange Policy</a></li>
                    <li><a href="#">Warranty</a></li>
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
    
            <div class="footer-column">
                <h4>Newsletter</h4>
                <p>Subscribe for the latest updates on CNC machines and industry news.</p>
                <form action="#">
                    <input type="email" placeholder="Enter your email">
                    <button type="submit">Subscribe</button>
                </form>
                <div class="payment-icons">
                    <img src="static\media\images\visa.png" alt="Visa">
                    <img src="static\media\images\mastercard.png" alt="MasterCard">
                    <img src="static\media\images\paypal.png" alt="PayPal">
                </div>
            </div>
        </div>
    
        <div class="footer-bottom">
            <p>© 2024 Industrix. All Rights Reserved. <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
        </div>
    </footer>

<script src="{% static 'core/js/script.js' %}"></script>
</body>
</html>